<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Open_Tube</title>
        <link rel="stylesheet" type="text/css" href="/static/main_page/main.css">
    </head>
    <body>
        <div class="parent">
            <div class="top_panel">
                <div class="logo">
                    <h1>OPEN_TUBE</h1>
                </div>
                <div class="search">
                    <input type="search" id="search_pool" name="q" placeholder="Search what you want" />
                    <button>Search</button>
                </div>
            </div>
            <div class="left_panel">

            </div>
            <div class="video_panel">
                 <div class="video_container">
                    <video id="Video_1" src="/static/uploads/video_2.mp4" controls>
                    </video>
                </div>
            </div>
        </div>
    </body>
</html>