<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Open_Tube</title>
        <link rel="stylesheet" type="text/css" href="../../static/main_page/main.css">
    </head>
    <body>
        <div class="parent">
            <div class="top_panel">
                <div class="logo">
                    <h1>OPEN_TUBE</h1>
                </div>

                <div class="search">
                    <input tupe="tex" id="search_pool" placeholder="Do you want to search?">
                    <button>Search</button>
                </div>
            </div>
            <div class="left_panel">

            </div>
            <div class="video_panel">

            </div>
        </div>
    </body>
</html>