<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Open_Tube</title>
        <link rel="stylesheet" type="text/css" href="../../static/main_page/main.css">
    </head>
    <body>
        <div class="parent">
            <div class="div1">
                <div id="OPEN_TUBE_logo">
                    <h1>OPEN_TUBE</h1>
                </div>
                <div id="SEARCH">
                    <input type="search" id="SEARCH_POLL" name="q" placeholder="Search what you want" />
                    <button id="ENTER_SEARCH">ENETR</button>
                </div>
            </div>
            <div class="div2">

            </div>
            <div class="div3">

            </div>
        </div> 
    </body>
</html>