html,body{
    background-image: linear-gradient(38deg, #282042, #433b5c, #41416e, #393053,#202149);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, minmax(0, 1fr)); 
    gap: 8px;

    margin: 5px;

    height: 100%;
}


.div1 {
    grid-column: span 7 / span 7;
    background-color: rgba(22, 16, 46, 0.6);
    border-radius: 12px;

    position: relative;
    display: flex;
    align-items: center;
}

#OPEN_TUBE_logo {
    margin-left: 10px;
    color: white;
}

#SEARCH {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    gap: 10px;
}

#SEARCH input {
    width: 250px;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
}

#SEARCH input:focus {
    outline: none;
    box-shadow: 0 0 10px #ffffff;
    transition: box-shadow 0.3s ease;
}

#SEARCH input:active {
    box-shadow: 0 0 20px #ffffff;
}



#SEARCH button{
    background-color: rgb(255, 255, 255);
}

.div2 {
    grid-row: span 6 / span 6;
    grid-row-start: 2;
    background-color: rgba(22, 16, 46, 0.6);
    border-radius: 12px;
}

.div3 {
    grid-column: span 6 / span 6;
    grid-row: span 6 / span 6;
    grid-row-start: 2;
    background-color: rgba(22, 16, 46, 0.6);
    border-radius: 12px;
}
        