<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>{{ name }} - OpenTube</title>
    <link rel="stylesheet" type="text/css" href="/static/videoplayer/main.css">
</head>
<body>
    <div class="parent">
        <!-- Top panel -->
        <div class="top_panel">
            <div class="logo">
                <h1><a href="/" style="color: inherit; text-decoration: none;">OpenTube</a></h1>
            </div>
            <div class="search">
                <input type="search" id="search_pool" name="q" placeholder="Search what you want" />
                <button>Search</button>
            </div>
        </div>

        <!-- Video area -->
        <div class="video_area">
            <video src="{{ video }}" controls autoplay></video>
        </div>

        <!-- Main panel -->
        <div class="main_panel">
            <p style="color:white; text-align:center;">Тут можна додати опис відео, коментарі або кнопки</p>
        </div>
    </div>
</body>
</html>
